## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

# [作業目標]
- 熟悉更多的 Python 資料操作

# [作業重點]
- 列出資料的大小 (In[4], Hint : shape)
- 列出所有欄位 (In[5], 有多種寫法)
- 擷取部分資料 (In[6], Hint : loc 或 iloc)

In [2]:
import os
import numpy as np
import pandas as pd

In [3]:
# 設定 data_path
dir_data = './data/'

In [4]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ./data/application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [5]:
app_train.shape

(307511, 122)

#### 列出所有欄位

In [6]:
app_train.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

#### 截取部分資料

In [9]:
app_train[['SK_ID_CURR','NAME_CONTRACT_TYPE']][5:10]

   SK_ID_CURR NAME_CONTRACT_TYPE
5      100008         Cash loans
6      100009         Cash loans
7      100010         Cash loans
8      100011         Cash loans
9      100012    Revolving loans

In [ ]:
df = pd.read_csv(f_app,index_col='SK_ID_CURR')

In [25]:
# loc 以index標籤取出資料
print('{0}\n\n'.format(df.head()))
df.loc[100003]

            TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR  \
SK_ID_CURR
100002           1         Cash loans           M            N
100003           0         Cash loans           F            N
100004           0    Revolving loans           M            Y
100006           0         Cash loans           F            N
100007           0         Cash loans           M            N

           FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  \
SK_ID_CURR
100002                   Y             0          202500.0    406597.5
100003                   N             0          270000.0   1293502.5
100004                   Y             0           67500.0    135000.0
100006                   Y             0          135000.0    312682.5
100007                   Y             0          121500.0    513000.0

            AMT_ANNUITY  AMT_GOODS_PRICE  ... FLAG_DOCUMENT_18  \
SK_ID_CURR                                ...
100002          24700.5         351000.0  ...                0
100003          35698.5        1129500.0  ...                0
100004           6750.0         135000.0  ...                0
100006          29686.5         297000.0  ...                0
100007          21865.5         513000.0  ...                0

           FLAG_DOCUMENT_19 FLAG_DOCUMENT_20 FLAG_DOCUMENT_21  \
SK_ID_CURR
100002                    0                0                0
100003                    0                0                0
100004                    0                0                0
100006                    0                0                0
100007                    0                0                0

           AMT_REQ_CREDIT_BUREAU_HOUR  AMT_REQ_CREDIT_BUREAU_DAY  \
SK_ID_CURR
100002                            0.0                        0.0
100003                            0.0                        0.0
100004                            0.0                        0.0
100006                            NaN                        NaN
100007                            0.0                        0.0

            AMT_REQ_CREDIT_BUREAU_WEEK  AMT_REQ_CREDIT_BUREAU_MON  \
SK_ID_CURR
100002                             0.0                        0.0
100003                             0.0                        0.0
100004                             0.0                        0.0
100006                             NaN                        NaN
100007                             0.0                        0.0

            AMT_REQ_CREDIT_BUREAU_QRT  AMT_REQ_CREDIT_BUREAU_YEAR
SK_ID_CURR
100002                            0.0                         1.0
100003                            0.0                         0.0
100004                            0.0                         0.0
100006                            NaN                         NaN
100007                            0.0                         0.0

[5 rows x 121 columns]

TARGET                                        0
NAME_CONTRACT_TYPE                   Cash loans
CODE_GENDER                                   F
FLAG_OWN_CAR                                  N
FLAG_OWN_REALTY                               N
CNT_CHILDREN                                  0
AMT_INCOME_TOTAL                         270000
AMT_CREDIT                           1.2935e+06
AMT_ANNUITY                             35698.5
AMT_GOODS_PRICE                      1.1295e+06
NAME_TYPE_SUITE                          Family
NAME_INCOME_TYPE                  State servant
NAME_EDUCATION_TYPE            Higher education
NAME_FAMILY_STATUS                      Married
NAME_HOUSING_TYPE             House / apartment
REGION_POPULATION_RELATIVE             0.003541
DAYS_BIRTH                               -16765
DAYS_EMPLOYED                             -1188
DAYS_REGISTRATION                         -1186
DAYS_ID_PUBLISH                            -291
OWN_CAR_AGE                                 NaN
FLAG_MOBIL                                    1
FLAG_EMP_PHONE                                1
FLAG_WORK_PHONE                               0
FLAG_CONT_MOBILE                              1
FLAG_PHONE                                    1
FLAG_EMAIL                                    0
OCCUPATION_TYPE                      Core staff
CNT_FAM_MEMBERS                               2
REGION_RATING_CLIENT                          1
                                    ...
DEF_30_CNT_SOCIAL_CIRCLE                      0
OBS_60_CNT_SOCIAL_CIRCLE                      1
DEF_60_CNT_SOCIAL_CIRCLE                      0
DAYS_LAST_PHONE_CHANGE                     -828
FLAG_DOCUMENT_2                               0
FLAG_DOCUMENT_3                               1
FLAG_DOCUMENT_4                               0
FLAG_DOCUMENT_5                               0
FLAG_DOCUMENT_6                               0
FLAG_DOCUMENT_7                               0
FLAG_DOCUMENT_8                               0
FLAG_DOCUMENT_9                               0
FLAG_DOCUMENT_10                              0
FLAG_DOCUMENT_11                              0
FLAG_DOCUMENT_12                              0
FLAG_DOCUMENT_13                              0
FLAG_DOCUMENT_14                              0
FLAG_DOCUMENT_15                              0
FLAG_DOCUMENT_16                              0
FLAG_DOCUMENT_17                              0
FLAG_DOCUMENT_18                              0
FLAG_DOCUMENT_19                              0
FLAG_DOCUMENT_20                              0
FLAG_DOCUMENT_21                              0
AMT_REQ_CREDIT_BUREAU_HOUR                    0
AMT_REQ_CREDIT_BUREAU_DAY                     0
AMT_REQ_CREDIT_BUREAU_WEEK                    0
AMT_REQ_CREDIT_BUREAU_MON                     0
AMT_REQ_CREDIT_BUREAU_QRT                     0
AMT_REQ_CREDIT_BUREAU_YEAR                    0
Name: 100003, Length: 121, dtype: object

In [19]:
# iloc 以index位置取出資料
df.iloc[1]

TARGET                                        0
NAME_CONTRACT_TYPE                   Cash loans
CODE_GENDER                                   F
FLAG_OWN_CAR                                  N
FLAG_OWN_REALTY                               N
CNT_CHILDREN                                  0
AMT_INCOME_TOTAL                         270000
AMT_CREDIT                           1.2935e+06
AMT_ANNUITY                             35698.5
AMT_GOODS_PRICE                      1.1295e+06
NAME_TYPE_SUITE                          Family
NAME_INCOME_TYPE                  State servant
NAME_EDUCATION_TYPE            Higher education
NAME_FAMILY_STATUS                      Married
NAME_HOUSING_TYPE             House / apartment
REGION_POPULATION_RELATIVE             0.003541
DAYS_BIRTH                               -16765
DAYS_EMPLOYED                             -1188
DAYS_REGISTRATION                         -1186
DAYS_ID_PUBLISH                            -291
OWN_CAR_AGE                                 NaN
FLAG_MOBIL                                    1
FLAG_EMP_PHONE                                1
FLAG_WORK_PHONE                               0
FLAG_CONT_MOBILE                              1
FLAG_PHONE                                    1
FLAG_EMAIL                                    0
OCCUPATION_TYPE                      Core staff
CNT_FAM_MEMBERS                               2
REGION_RATING_CLIENT                          1
                                    ...
DEF_30_CNT_SOCIAL_CIRCLE                      0
OBS_60_CNT_SOCIAL_CIRCLE                      1
DEF_60_CNT_SOCIAL_CIRCLE                      0
DAYS_LAST_PHONE_CHANGE                     -828
FLAG_DOCUMENT_2                               0
FLAG_DOCUMENT_3                               1
FLAG_DOCUMENT_4                               0
FLAG_DOCUMENT_5                               0
FLAG_DOCUMENT_6                               0
FLAG_DOCUMENT_7                               0
FLAG_DOCUMENT_8                               0
FLAG_DOCUMENT_9                               0
FLAG_DOCUMENT_10                              0
FLAG_DOCUMENT_11                              0
FLAG_DOCUMENT_12                              0
FLAG_DOCUMENT_13                              0
FLAG_DOCUMENT_14                              0
FLAG_DOCUMENT_15                              0
FLAG_DOCUMENT_16                              0
FLAG_DOCUMENT_17                              0
FLAG_DOCUMENT_18                              0
FLAG_DOCUMENT_19                              0
FLAG_DOCUMENT_20                              0
FLAG_DOCUMENT_21                              0
AMT_REQ_CREDIT_BUREAU_HOUR                    0
AMT_REQ_CREDIT_BUREAU_DAY                     0
AMT_REQ_CREDIT_BUREAU_WEEK                    0
AMT_REQ_CREDIT_BUREAU_MON                     0
AMT_REQ_CREDIT_BUREAU_QRT                     0
AMT_REQ_CREDIT_BUREAU_YEAR                    0
Name: 100003, Length: 121, dtype: object

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子